.head {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.head:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  background: url("../img/head/Logo-for-new-site.png") center no-repeat;
  background-color: rgba(15, 15, 15, 0.42);
  background-size: 45%;
}
.head__list {
  position: relative;
  width: 500%;
  height: 100%;
  font-size: 0;
  animation: slider-anim 15s infinite;
}
.head__item {
  width: 100vw;
  height: 100%;
  display: inline-block;
}
.head__item--1 {
  background: url("../img/head/head-slider2.jpg") no-repeat;
  background-size: cover;
}
.head__item--2 {
  background: url("../img/head/head-slider3.jpg") no-repeat;
  background-size: cover;
}
.head__item--3 {
  background: url("../img/head/head-slider4.jpg") no-repeat;
  background-size: cover;
}
.head__item--4 {
  background: url("../img/head/head-slider5.jpg") no-repeat;
  background-size: cover;
}
@keyframes slider-anim {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
